@import "./configuration";

// Layout & components
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/card";
@import "bootstrap/scss/accordion";
@import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/pagination";
@import "bootstrap/scss/badge";
@import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
// @import "bootstrap/scss/modal";
// @import "bootstrap/scss/tooltip";
// @import "bootstrap/scss/popover";
@import "bootstrap/scss/carousel";
@import "bootstrap/scss/spinners";
// @import "bootstrap/scss/offcanvas";
// @import "bootstrap/scss/placeholders";

// Helpers
@import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";

.landing-page {
    #hero,
    #problem,
    #solution,
    #demo,
    #pricing,
    #social-proof,
    #faq {
        padding: {
            top: 2 * $spacer;
            bottom: 2 * $spacer;
        }

        @media (min-width: 992px) {
            min-height: 720px;

            padding: {
                top: 5 * $spacer;
                bottom: 5 * $spacer;
            }
        }
    }

    #hero,
    #solution,
    #pricing {
        @extend .text-bg-dark;

        code {
            color: $teal-400;
        }
    }

    #problem,
    #demo,
    #faq {
        @extend .text-bg-light;
    }
}

.text-light {
    code {
        color: $teal-400;
    }
}

.call-to-action {
    max-width: 350px;
    margin: {
        left: auto;
        right: auto;
    }
    text-align: center;
}

.feature-page {
    .container {
        max-width: 960px;
    }

    @media (min-width: 992px) {
        h1 {
            font-size: 3rem;
        }

        h2 {
            font-size: 2.25rem;
        }

        p,
        li {
            font-size: 1.125rem;
        }
    }

    ol,
    ul {
        li + li {
            margin-top: 0.75rem;
        }
    }
}
