@use "sass:math";
@import "../../scss/configuration";

.card.card-pricing {
    min-width: 335px;
    max-width: 385px;
    margin: {
        bottom: $spacer;
        left: $spacer;
        right: $spacer;
    }
}

section#all-plans-include {
    ul {
        margin: {
            left: auto;
            right: auto;
        }
        max-width: 800px;
    }

    li {
        padding-top: math.div($spacer, 2);
        min-width: 200px;
    }
}