@import "../../scss/configuration";

section#social-proof {
    .proof-metrics {
        .proof-metric {
            background-color: tint-color($secondary, 20%);
            border-radius: $border-radius;
            padding: 1rem;
            height: 100%;

            strong,
            span {
                display: block;
            }

            strong {
                font-size: 1.5rem;
                color: $light;
            }
        }
    }

    .testimonials {
        columns: 375px 3;
        column-gap: $spacer;

        .blockquote {
            padding: {
                top: 2 * $spacer;
                left: 1.5 * $spacer;
                right: 1.5 * $spacer;
                bottom: $spacer;
            }

            background-color: tint-color($secondary, 20%);
            border-radius: $border-radius;
            position: relative;
            break-inside: avoid;

            blockquote {
                margin-bottom: 0.75rem;
            }

            figcaption {
                font-size: 0.95rem;
                color: tint-color($secondary, 80%);
                font-style: normal;
            }

            &::before,
            &::after {
                font-size: 4rem;
                color: shade-color($secondary, 20%);
                position: absolute;
            }
            
            &::before {
                content: open-quote;
                top: 0;
                left: 0;
                transform: translate(0, -15%);
            }

            &::after {
                content: close-quote;
                bottom: 0;
                right: 0;
                transform: translate(0, 50%);
            }
        }
    }
}
