@import "../../scss/configuration";

section#social-proof {
    .testimonials {
        columns: 375px 3;
        column-gap: $spacer;

        .blockquote {
            padding: {
                top: 2 * $spacer;
                left: 1.5 * $spacer;
                right: 1.5 * $spacer;
                bottom: $spacer;
            }

            background-color: tint-color($secondary, 20%);
            border-radius: $border-radius;
            position: relative;

            &::before,
            &::after {
                font-size: 4rem;
                color: shade-color($secondary, 20%);
                position: absolute;
            }
            
            &::before {
                content: open-quote;
                top: 0;
                left: 0;
                transform: translate(0, -15%);
            }

            &::after {
                content: close-quote;
                bottom: 0;
                right: 0;
                transform: translate(0, 50%);
            }
        }
    }
}