// TODO
// $color-mode-type: media-query;

$yellow: #fffcdd;
$blue: #dcf7f3;
$red: #ffd8d8;

$primary: $yellow;
$secondary: $blue;
$danger: $red;

@import "bootstrap";

.debug-message {
    display: none;
}

.debug {
    .debug-message {
        display: block;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    
    .wrapper-content {
        flex-grow: 1;
        overflow-y: auto;
    }
}