@import "bootstrap/scss/bootstrap-utilities";

.stopwatch-group {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    margin: {
        left: -$spacer / 2;
        right: -$spacer / 2;
        top: -$spacer / 4;
        bottom: -$spacer / 4;
    }

    .stopwatch {
        display: inline-flex;
        align-items: center;

        margin: $spacer / 2;

        padding: {
            left: $spacer / 2;
            right: $spacer / 2;
            top: $spacer / 4;
            bottom: $spacer / 4;
        }

        border: 1px solid #ccc;
        border-radius: $border-radius;

        background-color: $yellow-800;

        &.active {
            background-color: $green-700;
        }
    }
}