@import "bootstrap/scss/functions";

$purple: #730099;

$purple-100: tint-color($purple, 80%);
$purple-200: tint-color($purple, 60%);
$purple-300: tint-color($purple, 40%);
$purple-400: tint-color($purple, 20%);
$purple-500: $purple;
$purple-600: shade-color($purple, 20%);
$purple-700: shade-color($purple, 40%);
$purple-800: shade-color($purple, 60%);
$purple-900: shade-color($purple, 80%);

$dark: $purple-700;

@import "bootstrap";

$navbar-height: 56px;

#main {
    padding-top: $navbar-height;
}

.landing-page {
    #hero,
    #problem,
    #solution,
    #demo,
    #pricing,
    #faq {
        padding: {
            top: 2 * $spacer;
            bottom: 2 * $spacer;
        }

        @media (min-width: 992px) {
            min-height: 720px;

            padding: {
                top: 5 * $spacer;
                bottom: 5 * $spacer;
            }
        }
    }

    #hero,
    #solution,
    #pricing {
        @extend .text-bg-dark;
    }

    #problem,
    #demo,
    #faq {
        @extend .text-bg-light;
    }
}